/* GENERAL CONFIG */
ul {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
a {
  text-decoration: none;
  color: var(--black);
}
.pages a:hover {
  border-bottom: 2px solid var(--pink);
}
svg:hover path {
    fill: var(--pink);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
:root {
  --pink: #BB7295;
  --black: #000000;
  --gray: #f4f3f5;
  --white: #FFFFFF;
  --brown: #483c42;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  font-size: 17px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 25rem;
  margin-top: 3rem;
}
header .pages{
  display: flex;
  gap: 1rem;
}
header .logo {
  margin-left: -18rem;
}
header .social-links {
  display: flex;
  gap: 1rem;
}

.mbl-menu {
  display: none;
}

.topnav {
  display: none;
}

/* MAIN ~~~*/

/* SECTION CATEGORY */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main h1 {
  font-weight: 300;
  align-items: center;
}
main span {
  color: var(--pink);
}
section ul {
  display: flex;
  gap: 2rem;
}

.category ul{
  display: flex;
  flex-direction: column;
}

.lista1 {
  display: flex;
  gap: 1rem;
}

.lista2 {
  display: flex;
  gap: 1rem
}

.category li a{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.category a{
  color: var(--pink);
  font-weight: 500;
  text-align: center;
}

.category img:hover{
  transition: all 0.5s;
    cursor: pointer;
}

.category img:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

section img {
  border-radius: 3px;
}

main .divisor {
  width: 1250px;
  border: 1px solid var(--pink);
}

/* SECTION LOVERS */
.lovers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  background-color: var(--gray);
  width: 100%;

  padding-top: 4rem;
}

.lovers span {
  color: var(--pink);
}
.lovers h1{
  letter-spacing: 2px;
  font-weight: 300;
}
.lovers p {
font-family: 'Roboto Mono', monospace;
font-size: 15px;
margin-bottom: 3rem;
}

/* LOVERS -> GENERAL LINKS */

.general-links {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin-bottom: 4rem;
}

.general-links a:hover {
  color: var(--pink);
}


.blog-links {
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: flex-start;

  background-image: url(/assets/img/Colorido.jfif);
  width: 35rem;
  padding: 5rem;

  color:var(--brown);
  border-bottom: 1px solid var(--pink);
}

.blog-links ul{
  display: block;
  flex-direction: column;
  
}

.blog-links li {
  display: flex;
  margin-bottom: 7px;
}

.store-links {
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: flex-start;

  background-color: var(--white);
  width: 35rem;
  padding: 5rem;
  color:var(--brown);
  border-bottom: 1px solid var(--pink);
}

.store-links ul {
  display: block;
  flex-direction: column;
}

.store-links li {
  display: flex;
  margin-bottom: 7px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer span{
  color: var(--pink);
}
footer a{
  color: var(--pink);
}

/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .mbl-menu {
    display: flex;
    align-items: center;
  }
  .hamburguer {
    align-self: flex-start;
    margin: 0.5rem;
  }

  .topnav #myLinks {
  display: none;
}

  .topnav {
  overflow: hidden;
  position: relative;
  }
.topnav a {
  color: rgb(41, 40, 40);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(154, 191, 242);
}

main h1{
    font-size: 15px;
    margin-top: -6rem;
  }

.category img {
  width: 78%;
  margin-right: auto;
  margin-left: auto;
}

.lista1 {
  display: flex;
  flex-direction: column;
}

.lista2 {
  display: flex;
  flex-direction: column;
}

.divisor {
  margin-bottom: 3rem;
}
.general-links {
  display: none;
}

footer {
  margin-top: -4rem;
}

}